#txtFldUser, #txtFldPass, #passFldPass {
    -fx-background-color: "WHITE";
    -fx-background-radius: 10px;

    -fx-border-color: "LIGHTGREY";
    -fx-border-radius: 10px;
    -fx-border-width: 2;
}

#txtFldUser:focused, #txtFldPass:focused, #passFldPass:focused {
    -fx-border-color: #2B3B4C;
}

#signInBtn {

    -fx-background-color: "BLACK";
    -fx-background-radius: 10px;
    -fx-background-insets: 1;

    -fx-border-color: "LIGHTGREY";
    -fx-border-radius: 10px;
    -fx-border-width: 2;

}

#showHideBtn {

    -fx-background-color: "TRANSPARENT";

    -fx-border-color: "LIGHTGREY";
    -fx-border-radius: 10px;
    -fx-border-width: 2;

}

.successState {
    -fx-border-color: #4CD07D;
    -fx-focus-color: #4CD07D;
}

.errorState {
    -fx-border-color: #FF3D32;
    -fx-focus-color: #FF3D32;
}