.root {

    -fx-font-family: Montserrat;
    -fx-font-size: 12;
    -fx-font-weight: 400;

}

.background {

    -fx-background-color: #F5f5f5;

}

.h1 {

    -fx-font-weight: bold;
    -fx-font-size: 21;

}

.h2 {

    -fx-font-weight: 600;
    -fx-font-size: 18;

}

.h3 {

    -fx-font-weight: 600;
    -fx-font-size: 15;

}

.lbl {

    -fx-font-size: 12;
    -fx-font-weight: 500;

}

.container {

    -fx-border-radius: 6px;
    -fx-border-color: #E2E4E8;
    -fx-border-width: 2;

    -fx-background-color: WHITE;
    -fx-background-radius: 6px;
    -fx-background-insets: 1;

    transition: -fx-border-color 150ms ease-out;

}

.container .text-field {

    -fx-font-size: 12;

    -fx-background-color: TRANSPARENT;

}

.container.focused {

    -fx-border-color: #2d3d4f;

}

.primary-btn {

    -fx-text-fill: #ffffff;

    -fx-background-color: #2D3D4F;
    -fx-background-radius: 6px;

    transition: -fx-background-color 150ms ease-out;

}

.secondary-navigation-btn {

    -fx-text-fill: #ffffff;

    -fx-background-color: #415060;
    -fx-background-radius: 6px;

}

.btn-text {

    -fx-font-size: 12;
    -fx-font-weight: 500;

}

.primary-navigation-bg {

    -fx-background-color: #2d3d4f;

}

.secondary-navigation-bg {

    -fx-background-color: #24C79F;

}

.primary-btn:hover {

    -fx-background-color: #1C252F;

}

.clear-btn {

    -fx-background-color: TRANSPARENT;

}

.container.error-border {

    -fx-border-color: #FF3D32;

}

.card {

    -fx-border-color: #E2E4E8;
    -fx-border-radius: 10px;
    -fx-border-width: 2;

    -fx-background-radius: 10px;
    -fx-background-insets: 1;

    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 12, 0, 0, 2);

}

.card-bg {

    -fx-background-color: #ffffff;

}

.avatar-initial {

    -fx-background-radius: 6px;
    -fx-background-color: #2d3d4f;

}

.half-card {

    -fx-border-color: #E2E4E8;
    -fx-border-radius: 10 10 0 0;
    -fx-border-width: 2 2 0 2;
    -fx-border-insets: -2;

    -fx-background-radius: 10 10 0 0;

}

.separator .line {

    -fx-border-color: #2d3d4f;
    -fx-border-width: 0.8;

}

.toggle-button:selected {

    -fx-background-color: #2d3d4f;
    -fx-text-fill: #ffffff;

}